language: php
php:
- '5.5'
- '5.4'
install:
- composer install
script: phpunit --bootstrap test/unit/bootstrap.php ./test/unit
notifications:
  slack:
    secure: mw6HF2KR0YwYcIaYvV6qjuWC+XSIP8SQOe13VwmGf3b783hMcZDZTUS9N4bIfpwYi74A9qmzKdc425OSu45nceAf7hzFusCY5rYMoLQK/ksJ7sd+ay7tWhPRuomG1w8idTyXtzce23zOfBtOCHQakbavH2Uz6mh5lJYPFlMKW4c=
