<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="true" backupStaticAttributes="false" bootstrap="./vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="false" processIsolation="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" stopOnRisky="false" testSuiteLoaderFile="PHPUnit_Runner_StandardTestSuiteLoader" timeoutForSmallTests="1" timeoutForMediumTests="10" timeoutForLargeTests="60" verbose="false">
  <coverage>
    <include>
      <directory>./lib</directory>
    </include>
    <exclude>
      <directory>./test</directory>
      <directory>./vendor</directory>
    </exclude>
    <report>
      <clover outputFile="test/output/clover.xml"/>
      <html outputDirectory="test/output/report"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit tests">
      <directory suffix="Test.php">./test/unit</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
